name: Build Docker Image

on:
    workflow_dispatch:
        inputs:
            apache:
                type: string
                description: 'APACHE VERSION'
                required: true
                default: '2.4.66'
            php:
                type: string
                description: 'PHP VERSION'
                required: true
                default: '8.5.3'
            composer:
                type: string
                description: 'COMPOSER VERSION'
                required: true
                default: '2.9.5'
jobs:
    docker:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v6

            -   name: Set up QEMU
                uses: docker/setup-qemu-action@v3.7.0

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3.12.0

            -   name: Login to Docker Hub
                uses: docker/login-action@v3.7.0
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}

            -   name: Build and push Docker image
                uses: docker/build-push-action@v6.19.2
                with:
                    context: .
                    file: ./debian.Dockerfile
                    push: true
                    build-args: |
                        HTTPD_VERSION=${{ github.event.inputs.apache }}
                        PHP_VERSION=${{ github.event.inputs.php }}
                        COMPOSER_VERSION=${{ github.event.inputs.composer }}
                    tags: |
                        benhakim2010/php-apache:1.1
